{% extends 'base.html' %}

{% block content %}
<!--<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
-->

<div class="container">


<form class="form-inline" action="" method="POST">
  {% csrf_token %}
  {{ form.as_table }}

  <!--<div class="form-group">
    <label for="food_type">Food Type</label>
      <input id="search_field" class="form-control" name="search_title" placeholder="Search By Name">


  </div>

  <div class="input-group">
    <label for="address">address</label>

    <input id="address" class="form-control" placeholder="Search for...">

    <span class="input-group-btn">
  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </span>
  </div>-->

  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>

</form>





</div>
{% endblock %}
